@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
--brand-blue: #0B74D1;
}


.btn{ @apply inline-block px-4 py-2 rounded-lg bg-[var(--brand-blue)] text-white font-semibold }
.card{ @apply p-6 border rounded-lg hover:shadow }